<div>

    <navbar></navbar>
    <sidebar></sidebar>

    <h1>Blackjack</h1>
    <div class="hand" style="font-size: 24px;">
<div class="card rank10C">10 <br> &clubs;</div>
<div class="card rank9D">9 <br> &diams;</div>
<div class="card rank8H">8 <br> &hearts;</div>
<div class="card rankQS">Q <br> &spades;</div>
<p></p></div>
    
    <div class="hand" style="font-size: 24px;">
<div class="card rank10C">10 <br> &clubs;</div>
<div class="card rank9D">9 <br> &diams;</div>
<div class="card rank8H">8 <br> &hearts;</div>
<div class="card rankQS">Q <br> &spades;</div>
<p></p></div>
    
    
    <footerbar></footerbar>
</div>